*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.5s ease; */
}

body{
  font-family: sans-serif;
  background: whitesmoke;
  /* background: white; */
  /* background: #edb600; */
}

/* .container{
  margin: 0;
} */